body {
  background: #3aaae8;
  color: black;
  display: grid;
}

#cc {
  text-align: center;
  margin-top: 5%;
}

#search-input {
  width: 60%;
  height: 10%;
  border: 2px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 30px;
  padding: 12px 20px 12px 40px;
  margin-bottom: 3%;
}

#content-container {
  display: grid;
  position: relative;
<<<<<<< HEAD
  /* margin-top: 15%; */

=======
>>>>>>> 6dbac1b2ccbf863f3b62c53f466bf23e9512fdc8
  text-align: center;
  max-width: 98%;
  align-content: center;
  grid-row-gap: 2%;
  grid-column-gap: 2%;
  grid-template-columns: auto auto auto;
}

img {
  max-width: 400px;
  display: block;
  justify-self: center;
<<<<<<< HEAD

=======
>>>>>>> 6dbac1b2ccbf863f3b62c53f466bf23e9512fdc8
  max-height: 400px;
  width: auto;
  height: auto;
  padding: 0;
  opacity: 1;
  display: block;
  size: 200 !important;
  height: 50vh;
  width: 98vh;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

img:hover {
  opacity: 0.7;
}

<<<<<<< HEAD
.display-none {
  display: none;
=======
.display {
  opacity: 1;
}

.display-none {
  opacity: 0;
>>>>>>> 6dbac1b2ccbf863f3b62c53f466bf23e9512fdc8
}
