body {
  background: #3aaae8;
  color: #fff;
  overflow: auto;
  display: grid;
  grid-row: 10% 90%;
  grid-template-areas:
    "search"
    "result";
}
#cc {
  text-align: center;
  margin-top: 5%;
  display: block;
}

#search-input {
  width: 60%;
  height: 10%;
  border: 2px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 30px;
  padding: 12px 20px 12px 40px;
  grid-area: search;
}

#content-container {
  display: grid;
  grid-area: result;
  text-align: center;
  max-width: 98%;
  height: 400px;
  align-content: center;

  grid-template-columns: auto auto auto;
}
img {
  max-width: 100%;
  padding: 0;
  margin: 0;
}
